@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 15% 5%;
    --foreground: 210 5% 85%;

    --card: 210 15% 8%;
    --card-foreground: 210 5% 85%;

    --popover: 210 15% 5%;
    --popover-foreground: 210 5% 85%;

    --primary: 210 5% 85%;
    --primary-foreground: 210 15% 5%;

    --secondary: 210 15% 15%;
    --secondary-foreground: 210 5% 85%;

    --muted: 210 15% 15%;
    --muted-foreground: 210 5% 65%;

    --accent: 180 5% 50%;
    --accent-foreground: 210 5% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 210 15% 20%;
    --input: 210 15% 15%;
    --ring: 210 5% 85%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background text-foreground font-body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-white font-headline;
  }
}
